* {
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:before,
:after {
  box-sizing: border-box;
}

body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: 100%;
}

input,
select,
textarea {
  border: 1px solid #999;
}

html {
  font-size: 16px;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

/* remember to define focus styles! */
:focus {
  outline: 0;
  text-decoration: none;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* set img max-width */
img {
  height: auto;
}

/* ie 8 img max-width */
@media \0screen {
  img {
    width: auto;
  }
}

body {
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  color: #333;
  background-color: #fff;
}

/* add html5 compatibilty */

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
picture,
section {
  display: block;
}

.wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.demo-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
