@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";

@mixin elr-back-to-top($config: ()) {
  $config: extend(
    (
      background-color: $primary-color,
      color: $white,
    ),
    $config
  );

  $background-color: map-get($config, background-color);
  $color: map-get($config, color);

  width: 50px;
  height: 50px;
  display: block;
  border-radius: 3px;
  color: $color;
  border: 0;
  cursor: pointer;
  padding: 0 0 5px;
  line-height: 0;
  background-color: rgba($background-color, 0.7);
  font-size: 36px;

  @media (max-width: 350px) {
    right: 10%;
  }

  &:hover {
    background-color: rgba($background-color, 1);
  }
}
